{% extends 'base.html' %}

{% block content %}
  <!-- Main Section -->
  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <!-- <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-edit"></i> Edit</a> -->
              <img class="avatar avatar--xl dev__avatar" src="{{ profile.avatar.url }}" />
              <h2 class="dev__name">{{ profile.full_name }}</h2>
              <p class="dev__title">{{ profile.direction }}</p>
              {% if profile.address %}
                <p class="dev__location">Based in {{ profile.address }}</p>
              {% endif %}
              <ul class="dev__social">
                <li>
                  <a title="Github" href="#" target="_blank"><i class="im im-github"></i></a>
                </li>
                <li>
                  <a title="Stackoverflow" href="#" target="_blank"><i class="im im-stackoverflow"></i></a>
                </li>
                <li>
                  <a title="Twitter" href="#" target="_blank"><i class="im im-twitter"></i></a>
                </li>
                <li>
                  <a title="LinkedIn" href="#" target="_blank"><i class="im im-linkedin"></i></a>
                </li>
                <li>
                  <a title="Personal Website" href="#" target="_blank"><i class="im im-globe"></i></a>
                </li>
              </ul>
              {% if request.user == profile %}
                <a href="{% url 'edit-profile' %}" class="btn btn--sub btn--lg">Edit </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">
              {{ profile.bio }}
            </p>
          </div>
          <div class="settings">
            <h3 class="settings__title">Skills</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-skill' %}"><i class="im im-plus"></i> Add Skill</a>
          </div>

          <table class="settings__table">
            {% for profile_skill in profile.skill.all %}
              <tr>
                <td class="settings__tableInfo">
                  <h4>{{ profile_skill.name }}</h4>
                  <p>
                    {{ profile_skill.description }}
                  </p>
                </td>
                <td class="settings__tableActions">
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-skill' profile_skill.id %}"><i class="im im-edit"></i> Edit</a>
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-skill' profile_skill.id %}"><i class="im im-x-mark-circle-o"></i>
                    Delete</a>
                </td>
              </tr>
            {% endfor %}
          </table>

          <div class="settings">
            <h3 class="settings__title">Projects</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-project' %}"><i class="im im-plus"></i> Add Project</a>
          </div>

          <table class="settings__table">
            {% for profile_project in profile.projects.all %}
              <tr>
                <td class="settings__thumbnail">
                  <a href="single-project.html"><img src="{{ profile_project.preview_image.url }}" alt="Project Thumbnail" /></a>
                </td>
                <td class="settings__tableInfo">
                  <a href="single-project.html">{{ profile_project.title }}</a>
                  <p>
                   {{ profile_project.description }}
                  </p>
                </td>
                <td class="settings__tableActions">
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-project' profile_project.slug %}"><i class="im im-edit"></i> Edit</a>
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-project' profile_project.slug %}"><i class="im im-x-mark-circle-o"></i>
                    Delete</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}